:host {
  background: url('/assets/img/blank.jpg') top left;
  background-attachment: fixed;
  display: flex;
  flex: 1;
  margin: auto;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.editor__container {
  margin: auto;
  display: table;
  height: auto;
  width: auto;
}
