/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

.w-100p {
  width: 100%;
}

.bullet {
  $bullet-size: 16px;

  display: inline-block;
  height: $bullet-size;
  width: $bullet-size;
  border-radius: 50%;
}

@import 'styles/widget';
