<div class="popt" dir="rtl" id="poptinWidget">
  <div class="popt__container">
    <form class="popt__form" method="GET" target="_blank" action="/submit">
      <h1 class="popt__slogan popt__unselectable" data-control>
רוצה לקבל ממנ עדכון<br />כל פעם שיש משהו חדש?
      </h1>
      <p class="popt__row" data-control>
        <input type="email" placeholder="מייל:" class="popt__input" />
      </p>
      <p class="popt__row">
        <button type="button" class="popt__button" data-submit data-control>
          להרשמה
        </button>
      </p>
      <p class="popt__row popt__row--disclaimer" data-control>
        (ניתן להסיר את המייל מרשימת התפוצה בכל עת)
      </p>
    </form>
  </div>
</div>
